@import 'variables';
@import 'mixins';

.contact {
    padding-top: 15rem;
    padding-bottom: 0;

    &__heading {
        font-size: 2.5rem;
        color: $color-primary;
        margin-bottom: 4rem;
        padding-left: 15rem;

        @include respond (mob-nav){
                padding-left: 10rem;
            }

            @include respond (phone){
                padding-left: 7rem;
            }
            
            @include respond (mini-phone){
                padding-left: 2rem;
            }
    }

    &__body {
        display: flex;
        padding: 0rem 10rem;
        justify-content: space-between;

        @include respond (phone){
                padding: 0 5rem;
            }
            
            @include respond (mini-phone){
                padding: 0 2rem;
            }

        &--image {
            width: 30%;

            @include respond (mob-nav){
                display: none;
            }
        }

        &--img {
            width: 100%;
        }

        &--form {
            display: flex;
            flex-direction: column;
            width: 60%;
            padding: 2rem;

            @include respond (mob-nav){
                width: 100%;
            }
        }

        &--name {
            border: none;
            border-bottom: .2rem solid $color-tertiary;
            height: 5rem;
            background-color: $background;
            margin-bottom: 2rem;
            transition: all .5s;
            font-size: 2rem;

            &:focus {
                outline: none;
                transform: translateY(-.3rem);
                border-bottom: .2rem solid $color-primary;
            }

            &::placeholder {
                font-size: 1.5rem;
                color: $color-primary;
                font-weight: 100;
                                text-transform: uppercase;

            }
        }

        &--email {
            border: none;
            border-bottom: .2rem solid $color-tertiary;
            height: 5rem;
            background-color: $background;
            margin-bottom: 2rem;
            transition: all .5s;
                        font-size: 2rem;


            &::placeholder {
                font-size: 1.5rem;
                color: $color-primary;
                font-weight: 100;
                                text-transform: uppercase;

            }

            &:focus {
                outline: none;
                transform: translateY(-.3rem);
                border-bottom: .2rem solid $color-primary;
            }
        }

        &--text {
            border: none;
            border-bottom: .2rem solid $color-tertiary;
            height: 8rem;
            background-color: $background;
            margin-bottom: 5rem;
            transition: all .5s;
                        font-size: 2rem;


            &::placeholder {
                font-size: 1.5rem;
                color: $color-primary;
                font-weight: 100;
                text-transform: uppercase;
            }

            &:focus {
                outline: none;
                transform: translateY(-.3rem);
                border-bottom: .2rem solid $color-primary;
            }
        }

        &--button {
            width: 40%;
            background-color: $color-tertiary;
            color: $background;
            border: none;
            height: 3rem;
                    box-shadow: 0 1rem 2rem rgba($color-tertiary,.2);
            border-radius: .5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 1s;

            &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-.3rem);
        }
        }
    }
}