@import 'variables';
@import 'mixins';

.footer {
    width: 100%;
    margin-top: 7rem;
    padding: 2.5rem 5rem;
    background-color: $color-tertiary;
    text-align: center;
    color: $background;

    &__heading {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    &__location {
        font-size: 2.5rem;
        margin-bottom: 2rem;

    }

    &__contact {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;


        &--para {
            font-size: 1.8rem;
            padding: .2rem 2rem;
            margin-bottom: 2rem;


            &:not(:last-child){
                border-right: .1rem solid $background;
            }
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        list-style: none;
        width: 50%;
        margin: 0 25%; 
        margin-bottom: 2rem;


        &--list {
            width: 10%;
        }

        &--link {
            width: 100%;
            color: $color-white;
            font-size: 2rem;
        }
    }

    &__line {
        height: .1rem;
        width: 35%;
        background-color: $background;
        margin: 0 32.5%;
        margin-bottom: 2rem;

    }

    &__copyright {
        font-size: 1.5rem;
    }
}