@import 'variables';
@import 'mixins';

.project {
    width: 45%;
    padding-bottom: 5rem;
    border: 1rem solid $color-tertiary;
    padding: 3rem;
    margin-bottom: 3rem;
    transition: all 1s;

    @include respond (tab-port){
        width: 100%;
    }

    &:hover {
        background-color: $color-primary;
    }

    &:hover &__info--description {
        color: $background;
    }

    &__icon {
        width: 100%;

        &--img {
            width: 100%;
            height: 40vh;
            transition: all 1s;
        }
    }

    &__info {
        
        &--title {
            font-size: 2.5rem;
            padding-top: 1.5rem;
            color: $color-tertiary;
        }

        &--list {
            display: flex;
            list-style: none;
            margin-bottom: 3rem;
        }

        &--item {
            color: $color-tertiary;
            font-size: 1.5rem;

            &:not(:first-child) {
                padding-left: 1.5rem;
            }
            
            &:not(:last-child) {
                padding-right: 1.5rem;
                border-right: .1rem solid $color-primary;
            }
        }

        &--description {
            font-size: 1.8rem;
            font-weight: 300;
            margin-bottom: 3rem;
        }

        &--button {
            display: flex;
            width: 70%;
            justify-content: space-between;
            align-items: center;
        }

        &--link {
        background-color: $color-tertiary;
        height: 5rem;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        color: $color-white;
        font-size: 1.7rem;
        padding: 2rem;
        margin-right: 3rem;
        text-decoration: none;
        box-shadow: 0 1rem 2rem rgba($color-tertiary,.2);
        cursor: pointer;
        border-radius: .5rem;
        transition: all .5s;
        width: 45%;

        @include respond (tab-land-max){
            font-size: 2rem;
        }

        &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, .15);
            transform: translateY(-.3rem);
        }
    }
    }
}